.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputWrapper {
  margin-left: 25px;
}

.input {
  width: 300px;
}

.searchWrapper {
  display: flex;
  margin-right: 40px;
}

.settingsWrapper {
  display: flex;
  gap: 25px;
  align-items: center;
}
