@import "./normalize.scss";

:root {
  --text-color: #000;
  --background-color: #d2d5db;
}

.app.dark {
  --text-color: #fff;
  --background-color: #1a1a1a;
}

.app {
  font-size: 14px;
  line-height: 20px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}
